body {
    background-color: #0F4777;
    margin: 0;
    color: whitesmoke;
}

#main {
    margin-top: 40px;
    min-height: 800px;
}

#main a {
    color: whitesmoke;
}

#content #header {
    background-color: #5982A3;
    box-shadow: 0px 0px 30px -7px rgba(0, 0, 0, 0.75);
}

#content #footer {
    background-color: #5982A3;
    box-shadow: 0px 0px 30px -7px rgba(0, 0, 0, 0.75);
    height: 50px;
    position: absolute;
    bottom: 0%;
    width: 100%;
}

.menu-entry {
    margin-bottom: 25px;
}

#header .checkbox {
    margin-top: 25px;
}

#header #loading {
    width: 70px;
}

#footer {
    text-align: center;
    margin-top: 15px;
    padding-top: 15px;
}

.template {
    cursor: pointer;
    border: 1px dotted white;
    border-radius: 5px;
    margin-left: 10px;
    padding: 5px;
}

.template-item {
    margin-bottom: 25px;
}

h2 {
    font-size: 18px;
    margin-bottom: 20px;
}

table#grid {
    margin: auto;
    background-color: white;
    box-shadow: 0px 0px 30px -7px rgba(0, 0, 0, 0.75);
    border-spacing: inherit;
    border-collapse: inherit;
}

table#grid td.cell {
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 0.3s;
    border: 1px dotted #BCBCBC;
}

table#grid td.cell.alive {
    background-color: #33A047;
}

table#grid td.cell.alive:hover {
    background-color: #38db65;
}

table#grid td.cell:hover {
    background-color: #A9CEB0;
}