<div id="header">
    <div class="container">
        <div class="row">
            <div class="col-xs-1">
                <img id="loading" src="static/images/loading-stop.svg">
            </div>
            <div class="col-xs-5">
                <h1 class="pull-left">Lyfe</h1>
            </div>
            <div class="col-xs-2">
                <button id="evolve" class="btn btn-success h2" type="button">
                    Evolve
                    <span class="glyphicon glyphicon-step-forward"></span>
                </button>
            </div>
            <div class="col-xs-2">
                <button id="autoplay" class="btn btn-info h2" type="button" data-toggle="button">
                    Auto play
                    <span class="glyphicon glyphicon-fast-forward"></span>
                </button>
            </div>
            <div class="col-xs-2">
                <button id="clear" class="btn btn-warning h2" type="button">
                    Clear
                    <span class="glyphicon glyphicon-refresh"></span>
                </button>
            </div>
        </div>
    </div>
</div>