<!DOCTYPE html>
<html>
<head>
    <title>Lyfe</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>
<div id="content">
    {% include 'header.html' %}
    {% include 'main.html' %}
    {% include 'footer.html' %}
</div>

<!-- scripts last -->
<script type="text/javascript" src="{{ url_for('static', filename='scripts/jquery-3.1.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/grid.js') }}"></script>
</body>
</html>