<div id="main" class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="menu-entry">
                <p class="lead">How to play Conway's
                    <em>
                        <a href="https://en.wikipedia.org/wiki/Conway's_Game_of_Life" target="_blank" rel="noopener noreferrer">Game of life</a>
                    </em>
                    <span class="glyphicon glyphicon-new-window small"></span>&nbsp;:
                </p>
                <ol>
                    <li>Click on some cells to give them life</li>
                    <li>Make them evolve : you can do it step by step or by using the auto play mode</li>
                </ol>
            </div>
            <div class="menu-entry">
                <p class="lead">Pre-defined templates :</p>
                {% for template in templates %}
                    <p class="template-item">
                        <span class="glyphicon glyphicon-paperclip"></span>
                        <span class="template" data-template="{{ template.code }}">
                        {{ template.name }}
                        </span>
                    </p>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-9">
            <table id="grid" cellspacing="0" cellpadding="0"></table>
        </div>
    </div>
</div>